/* Maybe use LESS or SASS? */

body {
    font: 16px Helvetica;
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

#main > article {
    margin: 4px;
    padding: 5px;
    flex: 3 1 80%;
    order: 2;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    flex: 1 6 15%;
    order: 1;
}

#main > nav > ul {
    list-style-type: none;
}

#main > nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10.5px 11px;
    background-color: white;
    display: block;
}

#main > nav ul li a:visited {
    color: white;
}

#main > nav ul li a:hover,
#main > nav ul li .current {
    color: white;
    background-color: black;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
}

@media all and (max-width: 640px) {
    #main,
    #page {
        flex-direction: column;
    }
    #main > article,
    #main > nav,
    #main > aside {
        /* Return them to document order */
        order: 0;
    }
    #main > nav,
    #main > aside,
    header,
    footer {
        min-height: 50px;
        max-height: 50px;
    }
}