<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/syntaxhighlight.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <nav role="navigation" class="navbar navbar-toggleable navbar-light bg-primary">
            <button type="button" class="navbar-toggler navbar-toggler-right"><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-brand" href="/">Blog</a>
                <div class="collapse navbar-collapse">
                    <ul class="mr-auto navbar-nav">
                        {{#if user}}
                            <li class="nav-item"><a class="nav-link" href="/user/{{user.id}}">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="/post/new">New post</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        {{else}}
                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>                            
                        {{/if}}
                    </ul>
                </div>
        </nav>

        {{~> page}}
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>