{{#*inline "page"}}
    <h1>{{ post.title }}</h1>
    <p>
      {{{ post.content }}}
    </p>
    <span>
      {{#each post.tags as |tag|}}
        {{tag}}&nbsp;
      {{/each~}}
{{/inline}}
{{~> (parent)~}}
