{{#*inline "page"}}
    <h1>{{ user.name }}</h1>
    <ul>
      {{#each posts.data as |p|}}
        <li href="/post/{{p.id}}">{{p.title}}</li>
      {{/each~}}
    </ul>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
