{{#*inline "page"}}
    <h1>User page for {{ user.name }}</h1>
    <h2>Posts</h2>
    {{#each posts.data as |p|}}
      <p>
        <date>{{p.created_on}}</date>&nbsp;<a href="/posts{{p.id}}">{{p.title}}</a>
      </p>
    {{/each~}}
{{/inline}}
{{~> (parent)~}}